@using MobileShop.Models
@{
    ViewBag.Title = "Home page";

    var listSanPham = ViewData["listSanPham"] as List<Sanpham>;
    var hangSanXuat = ViewData["HangSanXuat"] as List<Hangsanxuat>;
    var anh = ViewData["Anh"] as List<Anh>;
}
<div class="slider-area">
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="https://cdn.tgdd.vn/2021/11/banner/Aseri-830-300-830x300.png" alt="Slide">
            </li>
            <li>
                <img src="https://cdn.tgdd.vn/2021/11/banner/830-300-830x300-8.png" alt="Slide">
            </li>
            <li>
                <img src="https://cdn.tgdd.vn/2021/11/banner/830-300-830x300-6.png" alt="Slide">
            </li>
        </ul>
    </div>
</div>
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    @foreach (Hangsanxuat hang in hangSanXuat)
                    {
                        int count = 0;
                        <h2 class="section-title">@hang.Tenhang</h2>
                        <div class="product-carousel">

                            @foreach (Sanpham item in listSanPham)
                            {
                                @if (hang.Mahang == item.Mahang)
                                {
                                    count++;
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img style="height: 300px" src="@Url.Content(item.Anhbia)" alt="">
                                            <div class="product-hover">
                                                <a href="/Sanpham/Detail/@item.Masp" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>
                                        <h2><a href="single-product.html">@item.Tensp</a></h2>
                                        <div class="product-carousel-price">
                                            <ins>@item.Giatien</ins> <del>$100.00</del>
                                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @Ma = item.Masp }))
                                            {
                                                <input type="submit" value="Mua hàng" id="bgnGioHang" />
                                            }
                                        </div>
                                    </div>

                                }

                            }
                        </div>
                        if (count == 0)
                        {
                            <h2>Không có sản phẩm trong mục này</h2>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->
