@{
    ViewData["Title"] = "Home Page";
    List<int> data = TempData["data"] as List<int>;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var nam = TempData["nam"];
}

<div class="row">
    <div class="col-sm-10">
        <div class="card">
            <div class="card-header">
                Barchart
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="bar"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <form asp-controller="Admin" asp-action="DoanhThu" class="form-inline my-2 my-lg-0">
            <input value="@nam" name="nam" class="form-control mr-sm-2" type="search" placeholder="Nhập năm" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table-bordered">
            <tr>
                <th>Tháng 1</th>
                <th>Tháng 2</th>
                <th>Tháng 3</th>
                <th>Tháng 4</th>
                <th>Tháng 5</th>
                <th>Tháng 6</th>
                <th>Tháng 7</th>
                <th>Tháng 8</th>
                <th>Tháng 9</th>
                <th>Tháng 10</th>
                <th>Tháng 11</th>
                <th>Tháng 12</th>
            </tr>
            <tr>
                @for (int i = 0; i < data.Count; i++)
                {
                    <td>@data[i].ToString("#,##0") Đồng</td>
                }
            </tr>

        </table>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script type="text/javascript">
    var chart = document.getElementById('bar').getContext('2d');
    var myChart = new Chart(chart,{
        type:'bar',
        data: {
            labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
            datasets: [{
                label: 'Tổng tiền',
                data: [[@data[0]],[@data[1]],[@data[2]],[@data[3]],[@data[4]],[@data[5]],[@data[6]],[@data[7]],[@data[8]],[@data[9]],[@data[10]],[@data[11]]]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
</script>

